# Node modules
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log
logs/device-logs.txt
logs/attendance-logs.txt

# ERP-related files
ERP/employeeData/employeeMap.json

# Build artifacts
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
